#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    max-width: 89rem;
    padding: 5rem;
}

.graphContainer {
    border: 1px solid var(--border);
    max-width: 1000vw;
    max-height: 1000vh;
    width: 70vw;
    height: 70vh
}

.filters {
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    border: 1px solid var(--border);
    background-color: white;
    border-radius: 50px;
    padding: 0 16px;
    gap: 8px;
}

.addressFilter {
    background-color: white;
    border: 1px solid gray;

}

